.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App .header {
    background-color: #222;
    height: 50px;
    padding: 20px;
    color: white;
    width: 100%;
}

.App .title {
    font-size: 2em;
}

.App .buttons {
    display: flex;
    flex-direction: row;
}

.App .PitchChart {
    width: 100%;
}

.App .TextDisplay {
    max-width: 600px;
    margin: 1em;
}

.App .TextDisplay p {
    font-size: 2.5em;


}